*{
    font-family: 'Poppins', sans-serif;
}

header{
    text-shadow: 1px 1px 1px grey;
    background-image: linear-gradient(to right, #2b02bf, #fdf542);
    padding: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

header h1{
    margin: 30px;
    text-shadow: 1px 1px 1px grey;
    color: #fff;
    text-align: center;
}

header  h1 span{
    font-weight: 100;
}

/*.manage{
    margin: 20px;
    background: #2b02bf;
    padding: 15px 40px 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bolder;
    display: block;
    transition: background-color 0.3s ease;
    margin-left: auto;
}*/

.click{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 20px;
    background: #2b02bf;
    padding: 8px 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-right: auto;
    font-size: 15px;

}

.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 10px 20px 10px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:#ffffff;
}

.welcome{
    font-size: 30px;
}


.paragraph{
    margin-right: 50px;
    margin-left: 50px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    
}

.container .box .school{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.description{
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    
}

.container .box .school img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.container .btn{
    margin: 40px 0 30px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.container .btn a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bolder;
}

@media only screen and (max-width: 769px){
    .container .box{
        flex-direction: column;
    }

    .container .box .school{
        width: 100%;
    }
}

@media only screen and (max-width: 643px){
    header{
        width: 100%;
    }

    header h1{
        font-size: 1em;
    }
}





