*{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passage{
    color:rgb(80, 79, 79);
    padding: 10px;
    text-align: center;
    border: 0 solid;
    background: #fefdef;
    border-radius: 15px;
    padding: 20px;

}

header{
    text-shadow: 1px 1px 2px grey;
    background-image: linear-gradient(to right, #2b02bf, #fdf542);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 5px;
    
}

header h1{
    margin: 30px;
    text-shadow: 1px 1px 1px grey;
    color: #fff;
    text-align: center;
}

header  h1 span{
    font-weight: 100;
}

.btn {
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: 2px solid;
    font-size: 10px;
    background: #2b02bf;
    color: #fff;
}

.login-container {
    background-color: #fff;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
}


.login-container h1{
    text-align: center;
}

input[type=text]{
    margin: 8px 0;
    border: 2px solid  #2b02bf;
    border-radius: 25px;
    box-sizing: border-box;
}

input[type=password] {
    margin: 8px 0 30px ;
    border: 2px solid #2b02bf;
    border-radius: 25px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    padding: 12px;
    background-color: #2b02bf;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #fdf542;
    text-shadow: 1px 1px 1px black;
}

#loginMessage {
    margin-top: 15px;
    color: #dc3545;
}

@media only screen and (max-width: 769px){
    body{
        flex-direction: column;
    }

    .login-container #loginForm{
        width: 100%;
    }
}

@media only screen and (max-width: 643px){
    header{
        width: 98%;
    }

    header h1{
        font-size: 1em;
    }
}
